header {
    background: white;
    padding: 100px 0;
    color: black;
    text-align: center;
}
 html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}
h1 {
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

nav {
	padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
	margin: 0 15%;    
	
}
ul li a { 
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
ul li a:hover {
    color: #999999;
	text-decoration: none;
}

nav ul li {
    display: inline-block;
}

.middle {
	vertical-align: middle;
	margin-top: -60px;	
    margin-bottom: -60px;	
	padding: 0;
    height: 140px;
	width: 140px;
	line-height: 140px;
	border-radius: 50%;
	background-color: black;
	box-shadow: 0px 0px 25px #001a1a, 0px 0px 45px  #66ffff;
}
.middle a {
	color:white;
	font-size: 22px;
}
.first {
    float: left;
	margin-left: 0px;
	margin-right: 20px;
}

.last {
	float: right;
	margin-left: 20px;
	margin-right: 0px;
}

.left {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.right {
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}
